@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

html,
body,
.wrap-content {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
}

.content {
    box-sizing: border-box;
    min-height: 100%;

    position: relative;
    z-index: 10;
}

.container {
    max-width: 1200px;
    margin: 0 auto 30px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

.title-1 {
    font-size: 46px;
    text-align: center;
}

.title-2 {
    font-size: 22px;
    text-align: center;
}

.block {
    display: block !important;
}

.link {
    text-decoration: none;
    color: #fff;
}

.select-btn {
    display: block !important;
    background: none;
    text-transform: uppercase;
    padding: 10px 15px 10px 50px;
    border: 2px solid #fff;
    border-radius: 1.2rem;

    background-image: url("../img/brush-ico.png");
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: 7%;
}

.select-btn:hover,
.select-btn:active {
    background-color: #fff;
    color: #000;
}

.submit-btn {
    display: block;
    height: 48px;
    color: #fff;
    background-color: #000 !important;
    border-radius: 5px;
    font-size: 28px;
    padding: 7px 25px;
    text-align: center;
}

.submit-btn:hover,
.submit-btn:active {
    opacity: 0.7;
}

.submit-btn:disabled {
    opacity: 0.4;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
}

/* Header styles */

.header {
    padding: 10px;

    flex-direction: column;
}

.header-content {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    background: linear-gradient(#85c8de, 10%, #0195ae);
    border-bottom-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
}

.dropdown-lang {
    position: relative;
    column-gap: 10px;
    padding: 0;
}

.dropdown-lang i {
    display: block;
}

.flag {
    display: block;
    width: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    left: 0px;
    min-width: 170px;
    padding: 12px 16px;
    background-color: #f9f9f9;
    border: 2px solid #0195ae;
    border-radius: 0.7rem;
    z-index: 1;
}

.dropdown-lang:hover i {
    opacity: 0.5;
}

.lang-li {
    justify-content: space-between;
    padding: 10px;
}

.lang-li:hover {
    background-color: #dceef7;
}

.logo {
    padding-right: 13px;

    font-size: 48px;
    font-weight: 700;
    color: #fff;
}

.faq-link {
    color: #000;
}

.faq-link img {
    width: 40px;
}

.faq-link:hover,
.faq-link:active {
    opacity: 0.7;
}

.header-title {
    font-size: 28px;
    text-align: center;
    color: #fff;

    padding: 10px 0;
    margin-top: 10px;

    width: 100%;
    background: linear-gradient(#85c8de, 10%, #0195ae);
    border-radius: 0.7rem;
}


/* Main styles */

.select-coloring {
    background-image: url("../img/demo-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 0;
    padding: 50px;
    border-radius: 1.2rem;

    flex-direction: column;
    row-gap: 50px;
}


/* Code Styles */

#coloring-code-form,
#coloring-type-form,
#upload-photo-block,
#coloring-photo-form,
#email-form,
#instruction-container {
    background-color: #e4f1f7;
    border-radius: 1.2rem;

    flex-direction: column;
    row-gap: 35px;

    padding: 40px;

    box-shadow: 5px 5px 10px grey;
}

#code-input,
#email-input {
    display: block !important;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    height: auto;
    padding: 3rem 1rem;
}


/* Type and Choose_Photo Styles */

.type-label {
    column-gap: 30px;
}

.photo-label {
    column-gap: 15px;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.type-img,
.photo-img {
    height: 134px;
}

.type-radio,
.photo-radio {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 50%;

    appearance: none;
    outline: none;
}

.type-radio::before,
.photo-radio::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #01556a;
}

.type-radio:checked::after,
.photo-radio:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;

    background-color: #01556a;
}


/* Upload Styles */

#upload-invite,
#cropper-block {
    display: flex;

    flex-direction: column;
    row-gap: 35px;
}

#cropper-block {
    row-gap: 20px;
}

#photo-info {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;

    width: 600px;
}

.upload-btn {
    display: block;
    width: 300px;

    padding: 0.5rem 1rem 0.5rem 4rem;

    background-color: #fff;
    background-image: url("../img/upload-arrow.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 0%;

    border: 2px solid #01556a;
    border-radius: 0.5rem;

    font-size: 28px;
    font-weight: 700;
}

.upload-btn:hover,
.upload-btn:active {
    background-color: #e4f1f7;
}

.info-img {
    width: 250px;
}

#photo,
#cropped-photo {
    display: none;
}

#crop-img {
    display: block;
    max-width: 100%;
    height: 70px;
}

.crop-btns {
    width: 100%;
    justify-content: space-between;
}

.crop-btns button {
    height: 50px;
    width: 50px;
    background-color: #ceebf9;
    border: solid 2px #024354;
    border-radius: 50%;
}

.crop-btns button:hover,
.crop-btns button:active {
    background-color: #85c8de;
}

.crop-btns button img {
    width: 35px;
}

.cropper-container {
    box-shadow: 0px 0px 30px #0195ae;
}


/* Email Styles */

#email-submit {
    border-radius: 0.5em;
    background-color: #fff;
    background-image: url("../img/email_icon.svg");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 0%;
}

#email-submit:hover,
#email-submit:active {
    background-color: #e4f1f7;
}


/* Instrucrion Styles */

.colors {
    column-gap: 15px;
}

.square {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;

    color: white;
}

.colors .square {
    width: 45px;
    height: 45px;
    margin-bottom: 15px;
}

.colors .square.black::before {
    content: "Black";
    position: absolute;
    font-size: 15px;
    left: 4px;
    bottom: -20px;
}

.colors .square.gray1::before {
    content: "Gray1";
    position: absolute;
    font-size: 15px;
    left: 4px;
    bottom: -20px;
}

.colors .square.gray2::before {
    content: "Gray2";
    position: absolute;
    font-size: 15px;
    left: 4px;
    bottom: -20px;
}

.colors .square.gray3::before {
    content: "Gray3";
    position: absolute;
    font-size: 15px;
    left: 4px;
    bottom: -20px;
}

.colors .square.white::before {
    content: "White";
    position: absolute;
    font-size: 15px;
    left: 4px;
    bottom: -20px;
}

.colors .square.black::after,
.square.uncolored.black::after {
    content: "X";
    position: absolute;
    font-size: 20px;
    left: 7px;
    bottom: 1px;
}

.colors .square.gray1::after,
.square.uncolored.gray1::after {
    content: "D";
    position: absolute;
    font-size: 20px;
    left: 7px;
    bottom: 1px;
}

.colors .square.gray2::after,
.square.uncolored.gray2::after {
    content: "C";
    position: absolute;
    font-size: 20px;
    left: 7px;
    bottom: 1px;
}

.colors .square.gray3::after,
.square.uncolored.gray3::after {
    content: "B";
    position: absolute;
    font-size: 20px;
    left: 7px;
    bottom: 1px;

    color: black;
}

.colors .square.white::after,
.square.uncolored.white::after {
    content: "O";
    position: absolute;
    font-size: 20px;
    left: 7px;
    bottom: 1px;

    color: black;
}

#instruction-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    box-sizing: border-box;
    padding: 0;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 40px;
}

.instruction-block {
    display: none;

    width: 430px;
    height: 645px;

    font-size: 28px;

    border-left: 3px solid black;

    margin: 10px 20px;
}

.block-num {
    display: block;
    width: 50px;
    transform: translateX(-60px);
    text-align: right;
}

.colors-block {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 10px;
    transform: translateY(-25px);
}

.paginator {
    display: flex;

    font-size: 30px;
    line-height: 150%;
    width: 70%;
    height: 85px;

    overflow-x: scroll;
    overflow-y: hidden;

    margin-bottom: 30px;

    color: #0195ae;
}

.paginator>span {
    display: inline-block;
    padding: 3px 15px;
    margin-right: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

.paginator_active {
    background-color: #85c8de;
    color: #024354;
}

.black {
    background-color: rgb(0, 0, 0);
}

.gray1 {
    background-color: rgb(64, 64, 64);
}

.gray2 {
    background-color: rgb(128, 128, 128);
}

.gray3 {
    background-color: rgb(191, 191, 191);
}

.white {
    background-color: rgb(255, 255, 255);
}

.uncolored {
    opacity: 0.65;
}

.colored {
    opacity: 1;
}

/* Footer Styles */

.footer {
    height: 300px;
    margin-top: -300px;

    background-image: url("../img/footer-banner.svg");
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
}